<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgf.gl30">

    <application>

        <activity
            android:name=".ui.activity.TriangleActivity"
            />
        <activity
            android:name=".ui.main.GL30MainActivity">
        </activity>

        <activity
            android:name=".ui.activity.TextureActivity">
        </activity>

        <activity
            android:name=".ui.activity.YUVTextureActivity">
        </activity>
    </application>

</manifest>